template(name="_footer")
    footer#footer.background-dark.text-grey
        .footer-content
            .container
                .row.text-center
                    img(alt='', src='img/logo.png' height='50px')
                    .copyright-text.text-center
                        | © 2016 OCHSA - Orange County Horse Show Association, Inc. All Rights Reserved.
                        br
                        a(target='_blank', href='#') DESIGNED BY 
                        img(src="img/aplusg.png")
                    .social-icons.center
                        ul
                            li.social-facebook
                                a(href='#')
                                    i.fa.fa-facebook
        .grass-divider-bottom