  section#section-gallery.no-padding(style='background-color:#641c29;')
    .text-medium.text-center.m-b-40 Latest Photos
    #isotope.isotope(data-lightbox-type='gallery')
      .isotope-item
        .effect.social-links
          img(src='/img/gallery/1.jpg', alt='')
          .image-box-content
            p
              a(href='/img/gallery/1.jpg', title='Your image title here!')
                i.fa.fa-expand
      .isotope-item
        .effect.social-links
          img(src='/img/gallery/2.jpg', alt='')
          .image-box-content
            p
              a(href='/img/gallery/2.jpg', title='Your image title here!')
                i.fa.fa-expand
      .isotope-item
        .effect.social-links
          img(src='/img/gallery/3.jpg', alt='')
          .image-box-content
            p
              a(href='/img/gallery/3.jpg', title='Your image title here!')
                i.fa.fa-expand
      .isotope-item
        .effect.social-links
          img(src='/img/gallery/4.jpg', alt='')
          .image-box-content
            p
              a(href='/img/gallery/4.jpg', title='Your image title here!')
                i.fa.fa-expand
      .isotope-item
        .effect.social-links
          img(src='/img/gallery/5.jpg', alt='')
          .image-box-content
            p
              a(href='/img/gallery/5.jpg', title='Your image title here!')
                i.fa.fa-expand
      .isotope-item
        .effect.social-links
          img(src='/img/gallery/6.jpg', alt='')
          .image-box-content
            p
              a(href='/img/gallery/6.jpg', title='Your image title here!')
                i.fa.fa-expand
      .isotope-item
        .effect.social-links
          img(src='/img/gallery/7.jpg', alt='')
          .image-box-content
            p
              a(href='/img/gallery/7.jpg', title='Your image title here!')
                i.fa.fa-expand
      .isotope-item
        .effect.social-links
          img(src='/img/gallery/8.jpg', alt='')
          .image-box-content
            p
              a(href='/img/gallery/8.jpg', title='Your image title here!')
                i.fa.fa-expand
