template(name="news")
  section#page-title.page-title-parallax.text-light(data-stellar-background-ratio='0.4', style='background-image: url("img/header.jpg");')
    .container
      .page-title.col-md-8
        h1.text-uppercase.text-medium NEWS
  
  section.content
    .container
      .row
        .post-content.post-modern.col-md-9
          .post-item
            .post-image
              a(href="#")
                img(src="/img/news/header1.jpg")
            .post-content-details
              .post-title
                h3
                  a(href="#") Example News Headline
              .post-info
                span.post-author
                  | Post by: Gareth Leak
                span.post-category
                  | in
                  a(href="#") Updates
            .post-description
              p Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet. Ut nec metus a mi ullamcorper hendrerit. Nulla facilisi. Pellentesque sed nibh a quam accumsan dignissim quis quis urna.
              .post-read-more
                a.read-more(href="#")
                  | READ MORE
                  i.fa.fa-long-arrow-right 
            .post-meta
              .post-date
                span.post-date-day 28
                span.post-date-month February
                span.post-date-year 2016
              .post-comments
                a(href="#")
                  i.fa.fa-comments-o
                  span.post-comments-number 22
              .post-comments
                a(href="#")
                  i.fa.fa-share-alt
          .post-item
            .post-image
              a(href="#")
                img(src="/img/news/header1.jpg")
            .post-content-details
              .post-title
                h3
                  a(href="#") Example News Headline
              .post-info
                span.post-author
                  | Post by: Gareth Leak
                span.post-category
                  | in
                  a(href="#") Updates
            .post-description
              p Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet. Ut nec metus a mi ullamcorper hendrerit. Nulla facilisi. Pellentesque sed nibh a quam accumsan dignissim quis quis urna.
              .post-read-more
                a.read-more(href="#")
                  | READ MORE
                  i.fa.fa-long-arrow-right 
            .post-meta
              .post-date
                span.post-date-day 27
                span.post-date-month February
                span.post-date-year 2016
              .post-comments
                a(href="#")
                  i.fa.fa-comments-o
                  span.post-comments-number 22
              .post-comments
                a(href="#")
          .post-item
            .post-image
              a(href="#")
                img(src="/img/news/header1.jpg")
            .post-content-details
              .post-title
                h3
                  a(href="#") Example News Headline
              .post-info
                span.post-author
                  | Post by: Gareth Leak
                span.post-category
                  | in
                  a(href="#") Updates
            .post-description
              p Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet. Ut nec metus a mi ullamcorper hendrerit. Nulla facilisi. Pellentesque sed nibh a quam accumsan dignissim quis quis urna.
              .post-read-more
                a.read-more(href="#")
                  | READ MORE
                  i.fa.fa-long-arrow-right 
            .post-meta
              .post-date
                span.post-date-day 26
                span.post-date-month February
                span.post-date-year 2016
              .post-comments
                a(href="#")
                  i.fa.fa-comments-o
                  span.post-comments-number 22
              .post-comments
                a(href="#")
                  i.fa.fa-share-alt
                  i.fa.fa-share-alt
        .sidebar.sidebar-modern.col-md-3
          .widget.clearfix.widget-newsletter
            form#newsletter-form.form-inline
              h4.widget-title
                | Newsletter
              small Stay informed on all our latest news!
              .input-group
                input.form-control.required.email(type="email" name="newsletter-email" placeholder="Enter your Email")
                span.input-group-btn
                  button.btn.button.color(type="Submit")
                    i.fa.fa-paper-plane
          .widget.clearfix.widget-tags
            h4.widget-title.text-green Tags
            .tags
              a(href='#') Updates
              a(href='#') Results
              a(href='#') Awards
              a(href='#') Rules
              a(href='#') Articles
          .widget.clearfix.widget-archive
            h4.widget-title.text-green Archive
            ul.list.list-lines
              li February 2016
              li January 2016
              li December 2015
              li Older...
          .widget.clearfix.widget-flickr
            h4.widget-title.text-green Gallery
            .row.p-l-15.p-r-15
              .col-xs-4.img-widget
                .effect.social-links
                  .img-square
                    img.img-responsive(src="/img/instagram/1.jpg")
                  .image-box-content
                    p
                      a(href="/img/instagram/1.jpg")
                        i.fa.fa-expand
              .col-xs-4.img-widget
                .effect.social-links
                  .img-square
                    img.img-responsive(src="/img/instagram/2.jpg")
                  .image-box-content
                    p
                      a(href="/img/instagram/2.jpg")
                        i.fa.fa-expand
              .col-xs-4.img-widget
                .effect.social-links
                  .img-square
                    img.img-responsive(src="/img/instagram/1.jpg")
                  .image-box-content
                    p
                      a(href="/img/instagram/1.jpg")
                        i.fa.fa-expand
            .row.p-l-15.p-r-15
              .col-xs-4.img-widget
                .effect.social-links
                  .img-square
                    img.img-responsive(src="/img/instagram/2.jpg")
                  .image-box-content
                    p
                      a(href="/img/instagram/2.jpg")
                        i.fa.fa-expand
              .col-xs-4.img-widget
                .effect.social-links
                  .img-square
                    img.img-responsive(src="/img/instagram/1.jpg")
                  .image-box-content
                    p
                      a(href="/img/instagram/1.jpg")
                        i.fa.fa-expand
              .col-xs-4.img-widget
                .effect.social-links
                  .img-square
                    img.img-responsive(src="/img/instagram/2.jpg")
                  .image-box-content
                    p
                      a(href="/img/instagram/2.jpg")
                        i.fa.fa-expand
            .row.p-t-10.p-l-15.p-r-15
              .icon-box.effect.small.color.m-t-20
                .icon
                  i.fa.fa-instagram
                h3 Post your photos!
                p Tag your photos #OCHSA on Instagram!