template(name="forms")
  section#page-title.page-title-parallax.text-light(data-stellar-background-ratio='0.4', style='background-image: url("img/header.jpg");')
    .container
      .page-title.col-md-8
        h1.text-uppercase.text-medium MEMBERSHIP
  section
    .container
      .row
        .col-md-6
          .heading
            h2 Our Members
          a.button.color.rounded(href='#')
            span
              i.fa.fa-heart
              | Member list
          a.button.purple.rounded(href='#')
            span
              i.fa.fa-heart
              | Trainer list
        .col-md-2
          .text-center
            .icon
              i.fa.fa-3x.fa-code
            .counter
              span(data-speed="5000" data-refresh-interval="50" data-to="796" fata-from="100" data-seperator="true") 796
            .seperator.seperator-small
            p MEMBERS
        .col-md-2
          .text-center
            .icon
              i.fa.fa-3x.fa-code
            .counter
              span(data-speed="5000" data-refresh-interval="50" data-to="796" fata-from="100" data-seperator="true") 796
            .seperator.seperator-small
            p TRAINERS
        .col-md-2
          .text-center
            .icon
              i.fa.fa-3x.fa-code
            .counter
              span(data-speed="5000" data-refresh-interval="50" data-to="796" fata-from="100" data-seperator="true") 796
            .seperator.seperator-small
            p HORSES
          
  section.p-t-40.background-grey
    .container
      .text-center
        h2 Become a Member
        p.lead
          | Blah blah blah here is some description about becoming a member with the Orange County Horse Show Association, how much it costs, some general info, etc. I dont know what else to include in here but I am typing it out a bit for space. You could also mention something about the scholarship program if this is where you want to put it? I am not really sure right now!
        a.button.color.rounded(href='#')
          span
            i.fa.fa-heart
            | Membership form
        a.button.purple.rounded(href='#')
          span
            i.fa.fa-heart
            | Scholarship form
  .jumbotron.jumbotron-fullwidth.background-colored.text-light
    .container  
      h3 Want to become a sponsor?
      p The OCHSA is a non-profit organization and is always looking for sponsors.
      a.button.transparent.rounded.icon-left(href="#" data-animation="fadeInUp" data-animation-delay="600")
          i.fa.fa-heart
          | Download the form