template(name="schedule")
    section#page-title.page-title-parallax.text-light(data-stellar-background-ratio='0.4', style='background-image: url("img/header.jpg");')
        .container
            .page-title.col-md-8
                h1.text-uppercase.text-medium SCHEDULE
    section
        .container
            .heading.heading-center
                h2 2016 OCHSA Horse Show Schedule
                span.lead All shows are approved by the Orange County Horse Show Association or some other lead
            h3 February
            .accordion.clean.color-border-bottom
                .ac-item
                    h5.ac-title
                        | Some Show @ RVMRP
                        span.col-sm-2.float-left
                            i.fa.fa-calendar
                            | Mar 2 - 8
                        span.col-sm-3.float-right
                            i.fa.fa-map-marker
                            | San Juan Capistrano, CA
                    .ac-content(style='display: none;')
                        | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.Neque
                .ac-item
                    h5.ac-title
                        | Some Show @ Del Mar
                        span.col-sm-2.float-left
                            i.fa.fa-calendar
                            | Mar 19 - 24
                        span.col-sm-3.float-right
                            i.fa.fa-map-marker
                            | Del Mar, CA
                    .ac-content(style='display: none;')
                        | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.Neque
                        
            h3 March
            .accordion.clean.color-border-bottom
                .ac-item
                    h5.ac-title
                        | Some Show @ RVMRP
                        span.col-sm-2.float-left
                            i.fa.fa-calendar
                            | Mar 2 - 8
                        span.col-sm-3.float-right
                            i.fa.fa-map-marker
                            | San Juan Capistrano, CA
                    .ac-content(style='display: none;')
                        | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.Neque
                .ac-item
                    h5.ac-title
                        | Some Show @ Del Mar
                        span.col-sm-2.float-left
                            i.fa.fa-calendar
                            | Mar 19 - 24
                        span.col-sm-3.float-right
                            i.fa.fa-map-marker
                            | Del Mar, CA
                    .ac-content(style='display: none;')
                        | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.Neque
                        